body {
    margin: 63px 99px 30px 100px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.main-header-title {
    font-size: 80px;
    text-decoration: none;
    color: black;
    line-height: 94px;
}
.main-header-title-color {
    color: lightskyblue;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    margin-top: 38px;
    margin-bottom: 49px;
    height: 72px;
    background-color: #35444F;
}
.nav-items {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: "Roboto Light";
    font-size: 24px;
}

.nav-items-text {
    margin-right: 70px;
    text-decoration: none;
    border-left: 1px solid white;
    padding-left: 30px;
}
.nav-items-text a {
    text-decoration: none;
    color: white;
}

.nav-items-text:hover {
    background-color: #222F3A;
}



.main-section {
    display: flex;
    margin: 0 auto;
}

.aside-menu{
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    font-size: 27px;
}
.aside-menu-links-item {
    padding: 0 15px;
    margin: 25px auto 52px 44px;
}
.aside-menu-links-item:hover {
    background-color: #DBDBDB;
    margin-left: 38px;
}

.aside-menu-links-item a {
    text-decoration: none;
    color: black;
    font-size: 27px;
    padding-left: 44px;
}
.main-picture {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    justify-content: space-around;
    margin-left: 400px;
}
.img-main {
    padding: 75px 268px 73px 297px;
}

.text {
    padding-left: 400px;
}
.text-1 {
    padding-top: 37px;
    padding-bottom: 34px;
    font-size: 18px;
}
.text-2 {
    padding-bottom: 34px;
    font-size: 18px;
}


.footer-menu {
    width: 100%;
    height: 69px;
    margin-top: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #63696E;
}
.footer-menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu-links-item a {
    padding-left: 40px;
    width: 100%;
    margin-right: 82px;
    text-decoration: none;
    color: black;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-menu-links-item-copyright {
    font-size: 24px;
}
.footer-menu-links-item a:hover {
    border-bottom: 1px solid lightskyblue;
    color: lightskyblue;
